body{
  font-family: "Montserrat";
 
}

#title{
  background-color: #40C4FF;
  /*#AAFF00*/

}
.container{
  padding: .5% 15% 15%;



}

h1{
  font-family: "Montserrat";
  font-size: 3.5rem !important;
  line-height: 1.5!important;
color:black;
}
h2{
  font-family: "Montserrat";
  line-height: 1.5;

}
.navbar{
  padding-bottom: 4.5rem !important;
}
.navbar-brand{
font-family: "Unbuntu";
  font-size:3.1rem !important;
color: white!important;
font-weight: bolder;
}
.doggy{
width:62%;
margin-left:10px;
margin-top:0px!important;
}
.dd{
    display: inline-block;
  position: absolute;
 right: 0px;
      margin-left: 120px;
      left: 290px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 4px;
      height: 0px;


}
.paww{
  color:red;
}
.nav-item{
  padding: 0 18px;

}
.nav-link{
  font-size:1.5rem;
  color:white!important;
  font-weight: bold;
}
/*button*/
.db{
  margin: 5% 3% 5% 0;
}
/*title*/
.title-image{
  width:20%;
transform: rotate(20deg);
position: absolute;
right:20%;


}
.tt{
  border:0;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;/*  has to have a position for the z- index to work!*/
}
.ft-box{
  text-align: center;
  padding:5%;
}
h3{
  font-family: "Montserrat" !important;
  font-weight: 800!important;
  font-size: 2rem;
}
.icon{
  color:red;
  margin-bottom: 1rem;
}
.icon:hover{
  color:salmon;
}
/*test*/
#testimonials{

  text-align:center;
  background-color: #FFA000;
  color: white;
}
.testimonial{
  width:15%;
  border-radius: 100%;
  margin:20px;
}
.testimonial-ron{
  width:17%;
  border-radius: 90%;
  margin:20px;
}
#press{
  background-color: #FFA000;
  text-align: center;
  padding-bottom: 3%;
}
.review{
  width:15%;
  margin:20px 20px 50px;
}
.carousel-item{
  padding:7% 15%;


}
.carousel-control-prev .active {


filter: invert(100%)

}
.carousel-control-prev-icon .active{
  background-color: red;
  border: 5px solid;
  font-size: 100px;
  font-weight: bolder;
}
.visually-hidden .actice{
  background-color: blue;
  border: 5px solid;
}
#pricing{
    padding:100px;
    text-align: center;
}

.t{
    margin-top:40px;
}
.planD{
  font-size: 50px;
}
.Simple{
  font-size: 20px;
}
.sub{
  padding-top:15px;
}
@media only screen and (max-width:1001px){
html,body{
   margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow-x: hidden;
  }
  #title{
    text-align: center;
  }
.title-image{
width:50%;
position: static;
transform: rotate(0);

  }
  .doggy{
width: 0px;

  }


}


#cta{
  background-color:#40C4FF;
padding:7% 15%;
text-align: center;
}
.true-love{
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
padding:7% 15%;
  font-size: 20px;
  text-align: center;

}
.footer-bottom{
  margin:5px;

}
